<?xml version='1.0' encoding='utf-8'?>
<widget
  id="com.eclipsesource.tabris.remote"
  version="3.6"
  android-versionCode="$BUILD_NUMBER"
  ios-CFBundleVersion="$BUILD_NUMBER">

  <name>RAP on Tabris</name>
  <description>Tabris for RAP Developer App</description>
  <author email="info@tabris.com">EclipseSource Inc.</author>

  <access origin="*" />

  <preference name="EnableDeveloperConsole" value="true" />
  <preference name="UseStrictSSL" value="false" />
  <preference name="cordova.plugins.diagnostic.modules" value="CAMERA" />

  <plugin name="cordova-plugin-network-information" spec="~2.0.1" />
  <plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
  <plugin name="tabris-plugin-camera" spec="https://github.com/eclipsesource/tabris-plugin-camera.git" />
  <plugin name="cordova.plugins.diagnostic" spec="4.0.12" />
  <plugin name="tabris-plugin-barcode-scanner" spec="https://github.com/eclipsesource/tabris-plugin-barcode-scanner.git#8de9218216e67e47777da42ae3ba804a0d3c6e17" />
  <plugin name="cordova-plugin-ios-non-exempt-encryption" spec="~1.0.0" />

  <edit-config file="*-Info.plist" target="NSCameraUsageDescription" mode="overwrite">
    <string>Use camera to explore RAP examples.</string>
  </edit-config>
  <edit-config file="*-Info.plist" target="NSPhotoLibraryUsageDescription" mode="overwrite">
    <string>Use photos library to explore RAP examples.</string>
  </edit-config>
  <edit-config file="*-Info.plist" target="NSLocationAlwaysUsageDescription" mode="overwrite">
    <string>Use locations services to explore RAP examples.</string>
  </edit-config>
  <edit-config file="*-Info.plist" target="NSLocationWhenInUseUsageDescription" mode="overwrite">
    <string>Use locations services to explore RAP examples.</string>
  </edit-config>
  <config-file file="*-Info.plist" target="ITSAppUsesNonExemptEncryption" mode="overwrite">
    <false/>
  </config-file>

  <platform name="ios">
    <!-- iOS 8.0+ -->
    <icon src="resources/ios/icons/Icon-60@3x.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="resources/ios/icons/Icon-60.png" width="60" height="60" />
    <icon src="resources/ios/icons/Icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="resources/ios/icons/Icon-76.png" width="76" height="76" />
    <icon src="resources/ios/icons/Icon-76@2x.png" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="resources/ios/icons/Icon-Spotlight-40.png" width="40" height="40" />
    <icon src="resources/ios/icons/Icon-Spotlight-40@2x.png" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="resources/ios/icons/Icon.png" width="57" height="57" />
    <icon src="resources/ios/icons/Icon@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="resources/ios/icons/Icon-72.png" width="72" height="72" />
    <icon src="resources/ios/icons/Icon-72@2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="resources/ios/icons/Icon-Small.png" width="29" height="29" />
    <icon src="resources/ios/icons/Icon-Small@2x.png" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="resources/ios/icons/Icon-50.png" width="50" height="50" />
    <icon src="resources/ios/icons/Icon-50@2x.png" width="100" height="100" />

    <splash src="resources/ios/splash/iPhone-320×480.png" width="320" height="480"/>
    <splash src="resources/ios/splash/iPhone-640×960.png" width="640" height="960"/>
    <splash src="resources/ios/splash/iPad-768×1024.png" width="768" height="1024"/>
    <splash src="resources/ios/splash/iPad-1536×2048.png" width="1536" height="2048"/>
    <splash src="resources/ios/splash/iPad-1024×768.png" width="1024" height="768"/>
    <splash src="resources/ios/splash/iPad-2048×1536.png" width="2048" height="1536"/>
    <splash src="resources/ios/splash/iPhone-640×1136.png" width="640" height="1136"/>
    <splash src="resources/ios/splash/iPhone-750×1334.png" width="750" height="1334"/>
    <splash src="resources/ios/splash/iPad-1242×2208.png" width="1242" height="2208"/>
    <splash src="resources/ios/splash/iPhone-2208x1242.png" width="2208" height="1242"/>

  </platform>

  <platform name="android">

    <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:usesCleartextTraffic="true" />
    </edit-config>

    <preference name="Theme" value="@style/Theme.Tabris.App" />
    <resource-file src="resources/android/values/tabris_app_theme.xml"
                   target="app/src/main/res/values/tabris_app_theme.xml" />

    <icon src="resources/android/drawable-mdpi/ic_launcher.png" density="mdpi" />
    <icon src="resources/android/drawable-hdpi/ic_launcher.png" density="hdpi" />
    <icon src="resources/android/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
    <icon src="resources/android/drawable-xxhdpi/ic_launcher.png" density="xxhdpi" />
    <icon src="resources/android/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    <splash src="resources/android/drawable-mdpi/splash.png" density="mdpi" />
    <splash src="resources/android/drawable-hdpi/splash.png" density="hdpi" />
    <splash src="resources/android/drawable-xhdpi/splash.png" density="xhdpi" />
    <splash src="resources/android/drawable-xxhdpi/splash.png" density="xxhdpi" />
    <splash src="resources/android/drawable-xxxhdpi/splash.png" density="xxxhdpi" />
  </platform>

  <platform name="windows">
    <preference name="WindowsStorePublisherName" value="EclipseSource"/>
    <preference name="WindowsStoreIdentityName" value="EclipseSource.RAPonTabris"/>
  </platform>

</widget>
